body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dfd7d7;
}


h1 {
    text-align: center;
    margin-bottom: 1em;
}  

form {
    max-width: 400px;
    margin: 0 auto;
}
label {
    display: block;
    margin-bottom: 0.5em;
}
input, select, button {
    width: 100%;
    margin-bottom: 1em;
}
button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 0.5em;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}

.checkbox {
    display: flex;
    margin-right: 3em;
    margin-bottom: 1em;
}

p {
    text-align: center;
    margin-bottom: 1em;
    color: red;
}